.ImgBanner {
  width: 100%;
}

.input-container {
  display: flex;
  justify-content: center;

  input {
    width: 80vw;
    height: 76px;
    border-radius: 8px;
    border: none;

    bottom: 140px;
    position: relative;

    padding: 15px;
    font-size: 24px;
  }

  button {
    border: none;
    background: none;
    cursor: pointer;

    img {
      width: 40px;
      bottom: 140px;
      position: relative;
      margin-left: -70px;
    }
  }
}
